*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100%;
    font-family: "adobe-clean", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
#container{
  
  
   width: 336px;
  height: 75%;
   border: 0.5px solid rgb(245, 242, 242);
   position: absolute;
   left: 550px;
   top: 81px;
touch-action: pinch-zoom;
}
.head
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 35px;
}
.a1
{
    font-family: "adobe-clean", sans-serif;
   font-size: xx-large;
   font-weight: 800;
   padding-left: 20px;
   

}
.a2
{
    font-family: "adobe-clean", sans-serif;
    font-size: xx-large;
    font-weight: 100;
  color: grey;
position: relative;
top: 10px;
left: 10px;
letter-spacing: 2px;
}

.material-icons
{
  color: red;
  position: relative;
  left: 80px;
  top: 10px;
  
}
.text
{
    display: flex;
    flex-direction: column;  
    

}
.box1
{
 border: 1px solid red;
padding-left: 10px;

box-shadow: 2px 2px 5px grey;
border-radius: 5px;
margin-left: 17px;
width: 283px;
height: 55px;
margin-top: 25px;


}
.box2
{
    border: 1px solid red;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
margin-left: 17px;
width: 290px;
height: 55px;
margin-top: 8px;
}
.box3
{
    border: 1px solid red;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
margin-left: 17px;
width: 290px;
height: 55px;
margin-top: 8px;
}
.box4
{
    border: 1px solid red;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
margin-left: 17px;
width: 290px;
height: 55px;
margin-top: 8px;
}
.box5
{
    border: 1px solid red;
    box-shadow:   2px 2px 5px grey; #f8f7f4;
  
    border-radius: 5px;
margin-left: 17px;
width: 290px;
height: 55px;
margin-top: 8px;

}
